Repository surfdeeper/surfdeeper: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, node scripts/validate-links.js, markdownlint --fix

.lintstagedrc.json:

{
  "*.md": [
    "prettier --write",
    "node scripts/validate-links.js",
    "markdownlint --fix"
  ],
  "*.{js,json}": ["prettier --write"],
  "*.astro": ["prettier --write"]
}

add back lost npm scripts, run formatter
  package-lock.json
  package.json
  src/layouts/Layout.astro
  src/layouts/MapLayout.astro
  src/pages/contribute.astro
  src/pages/gallery.astro
  src/pages/guide.astro
  src/pages/index.astro
Due: prettier --write

Add asset reference linter and update linting scripts
  docs/ASSET_LINTER.md
  package.json
  scripts/lint-assets.js
  src/layouts/Layout.astro
  src/layouts/MapLayout.astro
Due: prettier --write, node scripts/validate-links.js, markdownlint --fix

Refactor color variables for consistency across styles and components
  src/pages/contribute.astro
  src/pages/spots/[...slug].astro
  src/scripts/surf-ticker.ts
  src/styles/design-system.css
  src/utils/map-theme-switcher.ts
Due: prettier --write

Update about text colors to use primary color variables for consistency
  src/styles/homepage.css
Due: none

Add Google Analytics and HeadMeta components for improved SEO and tracking
  src/components/GoogleAnalytics.astro
  src/components/HeadMeta.astro
  src/layouts/Layout.astro
  src/layouts/MapLayout.astro
Due: prettier --write

Add mobile-only sections to homepage and update linting script for CSS
  .nvmrc
  agents.md
  package.json
  src/pages/index.astro
  src/styles/design-system.css
  src/styles/homepage.css
Due: prettier --write, node scripts/validate-links.js, markdownlint --fix

fix formatter/linters in package.json
  .github/workflows/ci.yml
  .markdownlint.yaml
  .stylelintrc.cjs
  astro.config.mjs
  package.json
  src/config/map-constants.ts
  src/content/config.ts
  src/env.d.ts
  src/layouts/Layout.astro
  src/layouts/MapLayout.astro
  src/scripts/map-preview.ts
  src/scripts/spot-guides-helpers.ts
  src/scripts/surf-ticker.ts
  src/styles/components.css
  src/styles/design-system.css
  src/styles/homepage.css
  src/styles/spot-guides.css
  src/utils/homepage-data.ts
  src/utils/leaflet-setup.ts
  src/utils/map-theme-switcher.ts
  src/utils/marine-weather.ts
  src/utils/spot-data.ts
Due: prettier --write

Add isPlaceholderTodo utility and update guide pages to handle disabled links
  src/pages/guide.astro
  src/pages/guide/[...slug].astro
  src/utils/guide-filters.ts
Due: prettier --write

Import isPlaceholderTodo utility to filter out placeholder guides in loadHomepageData function
  src/utils/homepage-data.ts
Due: none

remove console log
  src/utils/guide-filters.ts
Due: none

Add comingSoonCountBySection to loadHomepageData and update homepage display
  src/pages/index.astro
  src/styles/homepage.css
  src/utils/homepage-data.ts
Due: prettier --write

Filter out guides with duplicate titles in the homepage sections
  src/pages/index.astro
Due: prettier --write

formatting
  src/utils/guide-filters.ts
  src/utils/homepage-data.ts
Due: none

refactor index into sub components
  src/components/sidebar/AboutCard.astro
  src/components/sidebar/RecentCommitsList.astro
  src/components/sidebar/RecentlyUpdatedList.astro
  src/components/sidebar/RightSidebar.astro
  src/components/sidebar/SkillsGuideSidebar.astro
  src/pages/index.astro
Due: prettier --write

split left sidebar out
  agents.md
  src/components/sidebar/LeftSidebar.astro
  src/pages/index.astro
  src/styles/homepage.css
Due: prettier --write, node scripts/validate-links.js, markdownlint --fix

split right sidebar out
  src/components/sidebar/RightSidebar.astro
  src/pages/index.astro
  src/styles/homepage.css
Due: prettier --write

split up right sidebar
  agents.md
  src/components/sidebar/RightSidebar.astro
  src/components/sidebar/widgets/AboutWidget.astro
  src/components/sidebar/widgets/RecentCommitsWidget.astro
  src/components/sidebar/widgets/RecentUpdatesWidget.astro
  src/components/sidebar/widgets/SurfWisdomWidget.astro
Due: prettier --write, node scripts/validate-links.js, markdownlint --fix

formatting
  src/styles/homepage.css
Due: none

refactor: restructure sidebar components and data handling
  .lintstagedrc.json
  agents.md
  src/components/sidebar/LeftSidebar.astro
  src/components/sidebar/LeftSidebarSection.astro
  src/utils/sidebar-data.ts
Due: prettier --write, node scripts/validate-links.js, markdownlint --fix

fix link style
  src/components/sidebar/LeftSidebarSection.astro
Due: prettier --write

refactor: update sidebar link styles to use variable-driven design
  src/components/sidebar/LeftSidebar.astro
  src/components/sidebar/LeftSidebarSection.astro
  src/components/sidebar/widgets/RecentCommitsWidget.astro
  src/components/sidebar/widgets/RecentUpdatesWidget.astro
  src/pages/index.astro
  src/styles/design-system.css
Due: prettier --write

refactor: simplify link styles and enhance variable usage for consistency
  src/styles/design-system.css
Due: none

feat: add theme toggle component with light and dark mode support
  src/components/ThemeToggle.astro
  src/layouts/Layout.astro
  src/layouts/MapLayout.astro
  src/styles/theme-dark.css
  src/styles/theme-light.css
Due: prettier --write

fix black txt on black bg
  src/styles/theme-light.css
Due: none

refactor: improve surf ticker initialization and animation logic for better performance
  src/pages/index.astro
  src/scripts/surf-ticker.ts
Due: prettier --write

feat: add RandomGalleryWidget to the sidebar and homepage for enhanced visual content
  src/components/sidebar/RightSidebar.astro
  src/components/sidebar/widgets/RandomGalleryWidget.astro
  src/pages/index.astro
Due: prettier --write

converts js to ts and enforces ts in src
  package-lock.json
  package.json
  scripts/lint-assets.ts
  scripts/no-js-in-src.ts
  scripts/validate-links.ts
  src/scripts/format-timestamps.ts
  src/scripts/spot-detail-map.ts
  src/scripts/spot-guides.ts
Due: prettier --write

chore: implement client-side caching for marine weather data
  src/pages/index.astro
  src/pages/spots/[...slug].astro
  src/scripts/surf-ticker.ts
  src/utils/marine-weather.ts
Due: prettier --write

attribution for data
  src/layouts/Layout.astro
  src/pages/index.astro
Due: prettier --write

rename to learn instead of guide
  src/components/Navigation.astro
  src/components/sidebar/LeftSidebar.astro
  src/components/sidebar/LeftSidebarSection.astro
  src/layouts/Layout.astro
  src/pages/contribute.astro
  src/pages/gallery.astro
  src/pages/guide.astro
  src/pages/guide/[...slug].astro
  src/pages/index.astro
  src/pages/learn.astro
  src/pages/learn/[...slug].astro
  src/pages/spots.astro
  src/utils/homepage-data.ts
  vercel.json
Due: prettier --write

adding prompts
  bf-content-structure.md
  content-prompt.md
  content-structure-synthesized.md
  content-structure.md
  ss-content-structure.md
Due: prettier --write, node scripts/validate-links.js, markdownlint --fix

replace regex based approach w/ markdown parsing in gallery and widget components
  package.json
  scripts/validate-links.js
  src/components/sidebar/widgets/RandomGalleryWidget.astro
  src/pages/gallery.astro
Due: prettier --write

docs: add contributing guide and knowledge architecture documentation
  CONTRIBUTING.md
  LINK_GUIDELINES.md
  README.md
  agents.md
  docs/KNOWLEDGE_ARCHITECTURE.md
  src/content/guides/preface/knowledge-architecture.md
  src/pages/contribute.astro
Due: prettier --write, node scripts/validate-links.js, markdownlint --fix

refactor: streamline color variables and link styles in design system
  src/styles/design-system.css
Due: none

feat: implement image extraction with context from markdown for gallery components
  package.json
  scripts/validate-links.js
  src/components/sidebar/widgets/RandomGalleryWidget.astro
  src/pages/gallery.astro
  src/utils/extract-images.ts
Due: prettier --write

feat: enhance documentation and implement knowledge graph for guides with magic links
  README.md
  src/content/guides/angling-down-the-line.md
  src/content/guides/avoid-pearling.md
  src/content/guides/cobra-pose.md
  src/content/guides/paddling-paddling.md
  src/content/guides/pop-up.md
  src/content/guides/stroke-rate-vs-stroke-length.md
  src/content/guides/surf-gear-basics.md
  src/content/guides/swimming-for-surfers.md
  src/content/guides/swimming-metrics-for-surfers.md
  src/content/guides/total-immersion.md
  src/content/guides/transporting-your-surfboard.md
  src/content/guides/types-of-waves.md
  src/content/guides/wave-riding.md
  src/pages/guide/[...slug].astro
  src/styles/design-system.css
Due: prettier --write, node scripts/validate-links.js, markdownlint --fix

fix gallery + homepage
  src/pages/gallery.astro
  src/utils/homepage-data.ts
Due: prettier --write

chore: fix Prettier formatting to satisfy CI format check; no code changes
  README.md
  src/utils/homepage-data.ts
Due: prettier --write, node scripts/validate-links.js, markdownlint --fix
